spanishoddata/
.gitignore
data/
experiments/
.devcontainer
.vscode
json_files/
.Rproj.user/
ISTAC-R.Rproj
R/check_ine_codes.R
docs/examples
docs/img
renv/

####
/private/
/data/
/metadata/
/datasets/

/project-config.json_files
*.class
*.log
*.lock
*.pyc
*.tmp

.env
.artwork

######################
# R projects
.Rhistory
.Rproj.user

######################
# Windows
# Windows image file caches
Thumbs.db
######################
# Mac OSX
.DS_Store
